@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #0f0f0f;
  --greyColor: rgb(94, 94, 94);
  --primary: #637cce;
  --primaryHover: #6e86d6;
  --secondary: #fd8d8d;
  --secondaryHover: #b12424;
  --tertiary: #fab511;
  --tertiaryHover: #cc9619;
  --fourth: #263a7a;
  --fourthHover: #1d2d61;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
    background-color: white;
  }

  /* Estilo de la parte de la barra que se arrastra */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 8px;
  }

  /* Estilo de la esquina entre la barra y el track */
  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.border-l-gradient {
  border-left: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, rgb(70, 90, 207), black);
}

.button {
  background-color: var(--primary);
  border: none;
  margin-top: 20px;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease;
}

.button:before,
.button:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  left: 100%;
  top: 1%;
}

.button:after {
  left: -100%;
  clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 300ms ease;
}

.button:hover::after {
  left: 100%;
  top: 1%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.canvasCaballo {
  width: 100% !important;
  height: 100vh !important;
}

html {
  font-family: system-ui, sans-serif;
  background: #13151a;
  /* background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */
}
